.mysmall {
    font-size: 0.7em !important;
}

small {
    font-size: x-small;
}

.codesmall {
    font-size:0.5em !important;
}

pre > code {
    font-size: 0.8em !important;
    max-height: 900px !important;
}

.petitcode {
    font-size: 0.7em !important;
}

.reveal h3 {
    text-transform: none;
}


tr, td {
    width: 300px;
}

.large {
    width: 600px;
}

.tiers {
    width: 33%;
}

.medium {
    width: 400px;
}

.smaller {
    font-size: x-large;
}

.justify {
    text-align: justify;
}

.leftalign {
    text-align: left;
}

.rightalign {
    text-align: right;
}

.surligne {
    background-color: yellow;
    font-weight: bold;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.twocolumn {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
}

.twocolumnsl {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 20px;
}

.twocolumnsr {
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 20px;
}

.webpage {
    background-color: #dddddd;
}

.center {
    margin-left: auto !important;
    margin-right: auto !important;
}
