.mermaid svg {
    padding: 0;
    margin: 0;
    min-height: 200px !important;
    min-width: 20%;
    height:auto;
    font-size: 6px;
}

.reveal ul {
    width: 100%;
}


.frame {
    width: 100%;
    height:800px;
}

.red {
    color: red
}

.mysmall {
    font-size:0.8em !important;
}

.codesmall {
    font-size:0.5em !important;
}

.petitcode {
    font-size: 0.7em !important;
}
.large {
    width: 600px;
}

.tiers {
    width: 33%;
}

.medium {
    width: 400px;
}

.smaller {
    font-size: x-large;
}

.justify {
    text-align: justify;
}

.leftalign {
    text-align: left;
}

.surligne {
    background-color: yellow;
    font-weight: bold;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.twocolumn {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
}

.twocolumnsl {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 20px;
}

.twocolumnsr {
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 20px;
}

.webpage {
    background-color: #dddddd;
}
