.mysmall {
    font-size:0.8em !important;
}
.codesmall {
    font-size:0.5em !important;
}

pre > code {
    font-size: 0.8em !important;
    max-height: 900px !important;
}

.petitcode {
    font-size: 0.7em !important;
}

.reveal h3 {
    text-transform: none;
}


tr, td {
    width: 300px;
}

.large {
    width: 600px;
}

.tiers {
    width: 33%;
}

.medium {
    width: 400px;
}

.smaller {
    font-size: smaller;
}

.justify {
    text-align: justify;
}

.surligne {
    background-color: yellow;
    font-weight: bold;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}
