.reveal .progress { height: 10px; }
img.no-border{border: none !important;}
blockquote:before {
  content: '“';
}
blockquote:after {
  content: '‟';
}

.left {
    text-align: left;
}
.small {
  font-size: 0.5em !important;
}
.reveal a:hover {
    color: violet;
}
.reveal section img {
    border: initial;
    box-shadow: initial;
}

.inline {
  display: inline-block !important;
}

.inline.grow {
  margin: 10px;
}
